<div class="center jumbotron">
  <h1>Bem vindo ao Help App</h1>

  <h2>
    Esta home page foi desenvolvida utilizando
    <a href="http://www.rubyonrails.com.br/">Ruby on Rails</a>.
  </h2>

  <%= link_to "Acessar", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://www.rubyonrails.com.br/' %>