<h1>Resetar senha</h1>

<p>Para resetar sua senha clique no link abaixo:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Este link irá expirar em duas horas..</p>

<p>
Se você não solicitou resetar sua senha, por favor ignore este email e sua senha
ficará como está.
</p>