<footer class="footer">
  <small>
    Help App by <a href="http://www.rubyonrails.com.br/">Filipe Xavier Pavan</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contato", contact_path %></li>
      <li><a href="http://www.rubyonrails.com.br/">Rails</a></li>
    </ul>
  </nav>
</footer>